@CHARSET "US-ASCII";
<!-- Dies ist das Stylesheet für eigene CSS-Definitionen -->
<!-- Diese werden mit element.setStyleName(name) eingebunden -->

.landingpage_absolutelayout_bottom{
	background-color: green;
}
.landingpage_absolutelayout_top{
	background-color: red;
}

.commonpage_main_layout{
	background-color: grey;
}
.commonpage_user_bar_top{
	background-color: blue;
}
.commonpage_searchbar_top{
	background-color: green;
}
.commonpage_categories_left{
	background-color: red;
}
.commonpage_criteria_left{
	background-color: orange;
}
.commonpage_ads_left{
	background-color: silver;
}
.commonpage_layout_right{
	background-color: yellow;
}
	
