@CHARSET "US-ASCII";

.landingpage_absolutLayout_login_bottom {
	background-color: green;
}

.landingpage_absolutLayout {
	background-color: red;
}

.commonpage_main_layout {
	background-color: grey;
}

.commonpage_user_bar_top {
	background-color: blue;
}

.commonpage_searchbar_top {
	background-color: green;
}

.commonpage_categories_left {
	background-color: red;
}

.commonpage_criteria_left {
	background-color: orange;
}

.commonpage_ads_left {
	background-color: silver;
}

.commonpage_layout_right {
	background-color: yellow;
}

.commonpage_content_middle {
	background-color: navy;
}

.commonpage_top_small_fields {
	height: 17px;
}

.article_object_main_layout {
	background-color: green;
}